@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


body{
    background-color: var(--bg-padrao);
    font-family: "Manrope";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: var(--bg-card-padrao);
    padding: 30px;
    padding-bottom: 0;
    border-radius: 6px;
    text-align: center;
    max-width: 70%;
}

.card .titulo{
    text-transform: uppercase;
    font-size: 15px;
    color: var(--verde-padrao);
    letter-spacing: 3px;
}

.card .conselho{
    color: #fff;
    max-width: 270px;
    margin: 30px auto;
}

.card picture .imagem{
    max-width: 100%;
}

.card .botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    background-color: var(--verde-padrao);
    translate:0 25px;
}